{% extends 'base.html' %}

{% block title %}
Главная
{% endblock %}

{% block content %}


    <!--кАРУСЕЛЬ -->




{% for movie in movies %}
<h3>{{ movie.name }}</h3>
<img src="media/{{movie.image}}">
<p>{{ movie.description  }}</p>
<a href="movie/{{movie.kinopoisk_id}}">Подробнее</a>>
<hr>


<!-- jQuery -->
<script src="/examples/vendors/jquery/jquery-3.2.1.min.js"></script>
<!-- Bootstrap -->
<script src="/examples/vendors/bootstrap-3.3.7/js/bootstrap.min.js"></script>
    <!-- -------------------------->
{% endfor %}

{% endblock %}
