<!doctype html>
{% load static %}
<html lang="ru" class="h-100">

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">


	<!-- Bootstrap core CSS -->
    <link href="/docs/5.2/dist/css/bootstrap.min.css?v=52" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">

    <title>{% block title %}{% endblock %}</title>

	<!-- Favicons -->
    <!--
	<link rel="apple-touch-icon" href="/docs/5.2/assets/img/favicons/apple-touch-icon.png" sizes="180x180">
	<link rel="icon" href="/docs/5.2/assets/img/favicons/favicon-32x32.png" sizes="32x32" type="image/png">
	<link rel="icon" href="/docs/5.2/assets/img/favicons/favicon-16x16.png" sizes="16x16" type="image/png">
	<link rel="manifest" href="/docs/5.2/assets/img/favicons/manifest.json">
	<link rel="mask-icon" href="/docs/5.2/assets/img/favicons/safari-pinned-tab.svg" color="#7952b3">
	<link rel="icon" href="/docs/5.2/assets/img/favicons/favicon.ico">
	<meta name="theme-color" content="#7952b3">
    -->



<style>
      .bd-placeholder-img {
        font-size: 1.125rem;
        text-anchor: middle;
        -webkit-user-select: none;
        -moz-user-select: none;
        user-select: none;
      }

      @media (min-width: 768px) {
        .bd-placeholder-img-lg {
          font-size: 3.5rem;
        }
      }
    </style>


    <!-- Custom styles for this template -->
    <link href="cover.css" rel="stylesheet">
    <link rel="icon" type="image" href="https://sun9-60.userapi.com/impf/hiWcBvmL39Impuoapcf4Yi0QPX0jwafUs9TgUg/rqX_UNeTKC4.jpg?size=157x115&quality=95&sign=3e31429c132e31924a9b20edcf6caac6&type=album">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css">




  </head>
  <body class="d-flex h-100 text-center text-white bg-black">

<div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
  <header class="mb-auto">
    <div class="container-fluid d-flex align-items-center">
       <h1 class="d-flex align-items-center fs-4 text-warning mb-0">
      <img src="https://sun9-60.userapi.com/impf/hiWcBvmL39Impuoapcf4Yi0QPX0jwafUs9TgUg/rqX_UNeTKC4.jpg?size=157x115&quality=95&sign=3e31429c132e31924a9b20edcf6caac6&type=album" width="38" height="30" class="me-3" alt="Bootstrap">
      Movie Time
    </h1>

    <!--<a href="/docs/5.2/examples/cheatsheet-rtl/" class="ms-auto link-light" hreflang="ar">RTL cheatsheet</a>-->

      <!--<nav class="nav nav-masthead justify-content-center float-md-end">
        <a class="me-3 py-2 text-white text-decoration-none" aria-current="page" href="{% url 'home'%}">Главная</a>
        <a class="me-3 py-2 text-white text-decoration-none" href="{% url 'films'%}">Фильмы</a>
        <a class="me-3 py-2 text-white text-decoration-none" href="{% url 'series'%}">Сериалы</a>
        <a class="me-3 py-2 text-white text-decoration-none" href="{% url 'admin'%}">Вход</a>
      </nav>-->

        <a class="ms-auto link-light text-decoration-none" hreflang="ar" href="{% url 'home'%}">Главная</a>
        <a class="ms-auto link-light text-decoration-none" hreflang="ar" href="{% url 'films'%}">Фильмы</a>
        <a class="ms-auto link-light text-decoration-none" hreflang="ar" href="{% url 'series'%}">Сериалы</a>
        <a class="btn btn-sm btn-outline-secondary ms-auto link-light text-decoration-none text-warning"  href="{% url 'admin'%}">Зарегистрироваться</a>



    </div>
  </header>


<div class="row">
   <div class="col-1"></div>
   <div class="col-10">

       {% block content %}
       {% endblock %}

   </div>
   <div class="col-1"></div>
</div>
</div>

</body>
</html>